@import "normalize";
@import "mixins";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

img {
  display: block;
}

.inbox {
  @include inbox();
}

.container {
  width: 100%;
  max-width: 2400px;
}
