@import "normalize";
@import "mixins";
@import "font_roboto_regular";
@import "font_roboto_light";
@import "font_roboto_thin";
@import "settings";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  @include inbox();
  @include fontLight();
  font-size: $base_font_size;
  line-height: $base_line_height;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

img {
  display: block;
}

ul {
  padding: 0;
}

label {
  @include fontRegular();
  color: $gray_darker;
}

.inbox {
  @include inbox();
}

.container {
  width: 100%;
  max-width: 2400px;
}
