@font-face {
  font-family: 'Roboto';
  src:
    //local('Roboto Thin'),
    //local('Roboto Thin'),
    url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.eot');
}

@font-face {
  font-family: 'Roboto';
  src:
    //local('Roboto Thin'),
    //local('Roboto Thin'),
    url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff'),
    url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.ttf') format('truetype'),
    url('../fonts/roboto/roboto_thin_macroman/Roboto-Thin-webfont.svg#robotothin') format('svg');
  font-weight: 100;
  font-style: normal;
}
