@font-face {
  font-family: 'Roboto';
  src:
    //local('Roboto Light'),
    //local('Roboto-Light'),
    url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.eot');
}

@font-face {
  font-family: 'Roboto';
  src:
    //local('Roboto Light'),
    //local('Roboto-Light'),
    url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
    url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
    url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
