@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.eot');
}

@font-face {
  font-family: 'robotolight';
  src:
    url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
    url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
    url('../fonts/roboto/roboto_light_macroman/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
