@import "mixins";

$border-color: lighten($gray_neutral, 40);
$border-size: 2px;
$fill-color: $border-color;

.gravity {
  background: $border-color;
  text-align: center;
  padding: $border-size;
  /*height: 8*$base_font_size;*/
}

.gravity-select {
  display: inline-block;
  background: #fff;
  @include clearfix();
  @include inbox(8*$base_font_size);

  > * {
    cursor: pointer;
    @include inbox(33.3333334%);
    background-color: inherit;
    float: left;
    transition: background-color .4s;
    &.selected {
      background-color: rgba($fill-color, 1);
    }

    &:hover {
      background-color: rgba($fill-color, 0.5);
    }
  }

  .top {
    border-bottom: $border-size solid $border-color;
  }

  .bottom {
    border-top: $border-size solid $border-color;
  }

  .left {
    border-right: $border-size solid $border-color;
  }

  .right {
    border-left: $border-size solid $border-color;
  }
}
