@import "mixins";

$border-color: #EEEEEE;
$border-size: 2px;
$fill-color: $border-color;

.gravity-select {

  @include inbox(100px);
  @include clearfix();
  > * {
    @include inbox(33.3333339%);
    cursor: pointer;
    background-color: inherit;
    float: left;
    transition: background-color .4s;
    &.selected, &:hover {
      background-color: rgba($fill-color, 1);
    }
  }

  .top {
    border-bottom: $border-size solid $border-color;
  }

  .bottom {
    border-top: $border-size solid $border-color;
  }

  .left {
    border-right: $border-size solid $border-color;
  }

  .right {
    border-left: $border-size solid $border-color;
  }
}
