@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin inbox($value: 100%) {
  height: $value;
  width: $value;
}

@mixin transition($type: all, $time: 0.5s, $easing: 'easeInOut') {
  transition: $type $time $easing;
}

@mixin label_small() {
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: lowercase;
}

@mixin flex($justify: center, $align: stretch) {
  display: flex;
  justify-content: $justify;
  align-content: $align;
}
