@import "mixins";
@import "colors";

.playground {
  @include inbox;
  @include clearfix;
  position: relative;

  //@include breakpoint((min-width: $q-small, orientation: landscape)) {
  //}
}

$settings-width: 48rem;
$settings-width-small: 26rem;
.settings {
  background-color: $base_flat;
  width: 100%;

  section {
    margin: .5rem;
    padding: 1rem;

    & > label {
    }
  }

  @include breakpoint($q-small) {
    float: left;
    width: $settings-width-small;
  }

  @include breakpoint($q-medium) {
    float: left;
    width: $settings-width;
  }
}

button {
  &.select {
    transform: rotate(0deg);
    transition: all .4s cubic-bezier(0.5, .12, .36, .9);
    &.abort {
      transform: rotate(45deg);
      background: $gray_dark !important;
    }
  }
}

.preview {
  transform: translate3d(0, 0, 0) scaleZ(1);
  background-color: $gray_neutral;
  @include inbox;
  position: relative;
  overflow: hidden;

  @include breakpoint($q-small) {
    float: left;
    width: calc(100% - #{$settings-width-small});
  }

  @include breakpoint($q-medium) {
    float: left;
    width: calc(100% - #{$settings-width});
  }

  .preview-image {
    padding: 2rem;
    @include inbox();
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: auto;
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      //&.portrait {
      //  height: 100%;
      //  //width: auto;
      //}

      //&.landscape {
      //  width: 100%;
      //  height: auto;
      //}

    }
  }

  .grid-wrap {
    @include inbox;
    position: absolute;
    overflow: scroll;
    top: 0;
    left: 0;
    transform: translate3d(0, 100%, 0);
    transition: transform .4s cubic-bezier(0.6, .12, .26, .96);
    transition-delay: .1s;
  }

  &.select {
    .grid-wrap {
      transition-delay: 0s;
      transform: translate3d(0, 0, 0);
    }
  }
}

.mode-group-item {
  @include clearfix;
  .icon, .label {
    height: 100%;
    padding: 0.4rem;
    float: left;
  }

  .icon {
    svg {
      height: 100%;
      width: 24px;
      fill: $gray_darker;
    }
  }

  .label {
  }
}

ul {
  &.info {
    @include clearfix;
    padding: 0;
    list-style: none;

    li {
      display: block;
      float: left;
    }
  }
}

.color-picker {
  @import "color-picker";
}

.slider {
  display: flex;
  justify-content: center;
  align-items: stretch;

  .slider-name, .slider-value {
    white-space: nowrap;
    display: block;
    line-height: 2 * $base_font_size;
  }

  .slider-ctrl {
    width: 100%;
  }
}
@import "gravity-select";
