@import "base";
@import "test";
@import "breakpoint";
@import "media";

$figpadding: .1rem;
@mixin figboarder {
  padding: $figpadding;
}

#main {
  height: 100%;
}

.layout-container {
  height: 100%;
}

.grid {
  position: relative;
  width: 100%;
  @include clearfix();
  background-color: $base_flat;

  .grid-item {
    width: 100%;

    color: $base_flat;
    float: left;
    @include figboarder;

    @include breakpoint($q-small) {
      width: 50%;
    }

    @include breakpoint($q-medium) {
      width: 33.33333333%;
    }

    //@include breakpoint($q-big) {
    //  width: 25%;
    //}
  }

  @import "figure";
}

@import "playground";
