.row  {
  @include clearfix();
}
.clm {
  display: inline-block;
  float: left;
  width: 100%;
  @include breakpoint(800px) {
    &.clm__2 {
      width: 50%;
    }

    &.clm__3 {
      width: 33.3333%;
    }

    &.clm__4 {
      width: 25%;
    }
  }
}
