.row  {
  @include clearfix();
}
.clm {
  display: inline-block;
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

  @include breakpoint($q-small) {
    &.clm__2.force {
      width: 50%;
    }

    &.clm__3.force {
      width: 33.33333%;
    }

    &.clm__4.force {
      width: 25%;
    }

    &.right {
      float: right;
    }
  }

  @include breakpoint($q-medium) {

    &.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      float: none;
      width: 68%;
    }

    padding-left: 2.6rem;
    padding-right: 2.6rem;
    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 1rem;
    }

    &.clm__2 {
      width: 50%;
    }

    &.clm__3 {
      width: 33.33333%;
    }

    &.clm__4 {
      width: 25%;
    }
  }
}
