.row  {
  @include clearfix();
}
.clm {
  display: inline-block;
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

  @include breakpoint($q-small) {
    &.clm__2.force {
      width: 50%;
    }

    &.clm__3.force {
      width: 33.33333%;
    }

    &.clm__4.force {
      width: 25%;
    }

    &.right {
      float: right;
    }
  }

  @include breakpoint($q-medium) {


    padding-left: 2.6rem;
    padding-right: 2.6rem;

    &.clm__2 {
      width: 50%;
      &.center {
        width: 68%;
      }
    }

    &.clm__3 {
      width: 33.33333%;
    }

    &.clm__2__3 {
      width: 33.33333% * 2;
    }

    &.clm__4 {
      width: 25%;
    }

    &.clm__3__4 {
      width: 75%;
    }

    &:first-child:not(.swap) {
      padding-left: 3.6rem;
    }

    &:last-child:not(.swap) {
      padding-right: 3.6rem;
    }

    .swap & {
      &:first-child {
        float: right;
        padding-right: 3.6rem;
      }

      &:last-child {
        padding-left: 3.6rem;
      }
    }

    &.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
  }

}
