$q-small: 420px;
$fold_height: 64rem;
$fold_bottom: 48rem;

$site_header_height: 62rem;
$site_footer_height: $site_header_height;

$icon_width: 2.4rem;
$icon_height: $icon_width;

html {
}

body {
  line-height: 1.6;
  color: lighten(color('black'), 20);
}

p {
  a {
    color: color('blue');
    font-weight: 400;
    &:visited {
      color: color('blue');
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  //margin: 0;
}

%content {
  @include breakpoint($q-medium) {
    //max-width: 100rem;
  }

  @include breakpoint(1440px) {
    width: calc(100% - 48rem);
    max-width: 100%;
  }

  @include breakpoint(2500px) {
    width: calc(100% - 32rem);
  }
}

@import "grid";
@import "code";

code, code[class*="language-"], pre[class*="language-"] {
  .content & {
    font-size: 1.4rem;
  }
}

section.container {
  background: #fff;
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
  &::after {
    content: ' ';
    display: block;
    width: 60%;
    height: 1px;
    background-color: rgba(color('black'), .2);
    margin: 0 auto;
    position: relative;
    bottom: -3.6rem;
  }

  .content {
    //background: #ccc;
  }
}

.light {
  @include fontLight();
}

.thin {
  @include fontThin();
}

strong {
  @include fontRegular();
}

@mixin fold_height($bottom: $fold_bottom) {
  height: calc(100% - #{$bottom});
}

.content {
  margin: 0 auto;
  @extend %content;
  line-height: 1.8;


  p {
    //margin: 1.2rem 0 2.8rem 0;
    text-align: justify;

    @include breakpoint($q-small) {
      text-align: left;
    }
  }

  &.row {
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
  }

  //@include breakpoint(1200px) {
  //  width: 100rem;
  //}

  //@include breakpoint(1400px) {
  //  width: 120rem;
  //}

  //@include breakpoint(1600px) {
  //  width: 140rem;
  //}

  //@include breakpoint(2000px) {
  //  width: 160rem;
  //}
}

.logo-container {
  margin: 0 auto;
  @extend %content;
}
.site-header {
  @extend %content;
  @include clearfix();

  width: 100%;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  background: color('black');

  & > * {
    position: relative;
    z-index: 10;
  }

  .link {
    color: color('white');

    display: block;
    .icon {
      svg {
        fill: color('white');
      }
    }

    .text {
      display: none;
      @include breakpoint($q-small) {
        display: inline;
      }
    }
  }

  @include breakpoint(1200px) {
    //& > .row:first-child {
    //    display: flex;
    //    height: 100%;
    //    width: 100%;
    //    position: absolute;
    //    justify-content: center;
    //    flex-direction: column;
    //}
  }
}

.logo-main {

  .fold & {
    display: none;
  }

  @include breakpoint($q-medium) {
    float: left;
    .fold & {
      float: none;
      display: block;
    }
  }

  padding-right: 2.4rem;
  color: color('white');
  margin: 0 auto;
  //padding: 2.6rem;
  //@include clearfix();

  svg {
    position: absolute;
    width: 3.6rem;
    left: 0;
    height: auto;
    polygon {
      fill: color('white');
    }

    .fold & {
      width: 10rem;
      left: -1.2rem;
    }
  }
  .jmg {
    position: relative;
    padding-left: 4.2rem;
    text-align: center;
    text-transform: uppercase;

    display: inline-block;

    .fold & {
      font-size: 4rem;
      padding-left: 9rem;
    }
  }

  //p {
  //  font-size: 1.8;
  //  text-align: left;
  //  display: none;
  //  @include breakpoint($q-small) {
  //    display: block;
  //  }
  //}

  @include breakpoint($q-small) {
    //width: 32rem;
  }

  @include breakpoint($q-medium) {
    //width: 48rem;
    & > * {
      display: inline-block;
    }
  }
}

p {
  a.link.ext {
    display: inline-block;
    margin-left: 0;
    vertical-align: bottom;
    > * {
      vertical-align: bottom;
      float: none;
      margin: 0 0;
    }
    .icon {
      padding: 0 .2rem;
      height: 2.6rem;
      svg {
        fill: color('white');
      }
      .small & {
        height: 2.6rem * 0.8;
      }
    }
  }
}
.site-wrapper {
  height: 100%;
}

.container {
  padding: 0 2.6rem;
}

.fold {
  width: 100%;
  height: $fold_height;
  z-index: -1;
  //min-height: calc(100% - #{$site_header_height});
  position: fixed;

}

.site-footer {
  min-height: $site_footer_height;
  background-color: color('black');
}

.fold {
  background-color: color('black');
  color: color('white');
  .container {
    position: absolute;
    bottom: 2.6rem;
    z-index: 100;
    will-change: transform;
  }

  code, code[class*="language-"], pre[class*="language-"] {
    text-overflow: clip;
    text-overflow: ellipsis;
    font-size: 1.6rem;
  }

  .content {
    position: relative;
    z-index: 10000;
    h1, h2, h3, h4, h5, h6 {
      color: color('white');
    }
    pre {
      border-color: color('white');
    }
  }
}

.hero {
  @include inbox();
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  background-position: 50% 50%;
  background-size: cover;

  @include breakpoint(max-device-width $bp-small) {
    background-image: url('../images/hero_opt_25.jpg');
  }

  @include breakpoint(max-device-width $bp-medium) {
    background-image: url('../images/hero_opt_50.jpg');
  }

  @include breakpoint(min-device-width $bp-medium) {
    background-image: url('../images/hero_opt.jpg');
  }

  opacity: 0.3;
  will-change: transform;
}

.main-nav-container {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.main-nav {
  max-height: 5.8rem;
  @extend %content;
  margin: 0 auto;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0.38, 0.01, 0.4, 0.99);

  &.open {
    max-height: $fold_height;
    transition-timing-function: cubic-bezier(0.99, 0.4, 0.01, 0.38);
  }

  &.row {
    padding: 0 0;
  }
  .toggle {
    cursor: pointer;
    float: right;
    width: auto;
    height: 2.4rem;
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
    svg {
      fill: color('white');
    }

    @include breakpoint($q-medium) {
      display: none;
    }
  }
}


nav {
  color: color('white');
  width: 100%;
  @include clearfix();
  padding: 0 2rem;

  ul {
    float: left;
    overflow: hidden;
    list-style: none;
    @include clearfix();
    width: 100%;

    opacity: 0;
    transition: opacity .6s ease-out;
    .open & {
      opacity: 1;
      display: block;
    }

    @include breakpoint($q-small) {
      width: 50%;
    }

    @include breakpoint($q-medium) {
      width: auto;
      transition: none;
      opacity: 1;
    }

    li {
      padding: 0 1rem;
      @include breakpoint($q-medium) {
        float: left;
      }
    }

    &.right {
      li {
        float: left;
        @include breakpoint($q-small) {
          float: none;
        }

        @include breakpoint($q-medium) {
          float: left;
        }
      }
    }
  }
}

.icon {
  overflow: hidden;
  width: $icon_width;
  height: $icon_height;
  svg {
    height: 100%;
    width: auto;
  }
}

.link {
  vertical-align: baseline;
  overflow: hidden;
  margin-left: -0.5rem;
  & > * {
    float: left;
    display: inline-block;
    margin-left: 0.5rem;
  }

  .icon {
    margin-right: 0.5rem;
  }

}

.right {
  float: left;
  @include breakpoint($q-medium) {
    float: right;
  }
}

.force-right {
  float: right;
}

.left {
  float: left;
}

.spacer {
  width: 100%;
  height: $fold_height;
  position: relative;
  z-index: -1000;
}

#about {
  position: relative;
}


@import "animation";

.content {
  h1, h2, h3, h4, h5, h6  {
    color: color('blue');
    text-transform: capitalize;
  }

  h1  {
    @include fontThin();
  }
  h2, h3, h4, h5, h6  {
    @include fontRegular();
  }
}

.row {
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
}

#features, #features-more {
  color: color('white');
}
#features {
  background-color: color('blue');
  h1, h2, h3, h4, h5, h6  {
    color: color('white');
  }
}
#features-more {
  background-color: color('blue');
  h1, h2, h3, h4, h5, h6  {
    color: color('white');
  }
}

#contribute {
  //color: color('red');
  //h1, h2, h3, h4, h5, h6  {
  //  color: color('red');
  //}
}

.content {
  p {
    //font-weight: 500;
    //color: lighten(color('black'), 20);
  }
}

.card {
  position: relative;
  z-index: 1;
  &::before {
    content: ' ';
    display: block;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    background-color: #fff;
    z-index: -1;
  }
}

p + footer {
  padding-top: 3.6rem;
}

.centered {
  text-align: center;
  & > * {
    display: inline-block;
  }
}

.icon {
  &.github-contrib {
    width: 6.4rem;
    height: 6.4rem;

    svg {
      fill: color('blue');
    }
  }
}

.small {
  @extend small;
}
