@mixin syntax($color) {
  color: color($color);
}

$syn_comment:   color('gray');
$syn_var:       color('red');
$syn_def:       color('yellow');
$syn_char:      color('green');
$syn_regex:     color('red');
$syn_keyword:   color('blue');
$syn_func:      color('cyan');
$syn_num:       color('magenta');
$syn_this:      $syn_var;
$syn_symbol:    color('red');
$syn_punct:     $syn_keyword;
$syn_classname: color('magenta');
$syn_delim:     $syn_comment;
$syn_operator:  color('white');
$syn_property:  color('white');
