@import "../mixins";

//$border-color: lighten($gray_neutral, 40);
$border-color: $base_flat;
$fill-color: $color-primary;

$border-size: 1px;

.gravity {
  background: $border-color;
  text-align: center;
  padding: $border-size;
  /*height: 8*$base_font_size;*/
}

.gravity-select {
  display: inline-block;
  background: #fff;
  @include clearfix();
  @include inbox(8*$base_font_size);
  border: 1px solid $fill-color;

  > * {
    cursor: pointer;
    position: relative;
    @include inbox(33.333333%);
    background-color: inherit;
    display: inline;
    float: left;
    transition: background-color .4s;
    &.selected {
      //background-color: rgba($fill-color, 1);
      //border: 1px solid rgba($fill-color, 1);
    }

    &.selected {
      border: $border-size solid $fill-color;
      /*border-color: $fill-color;*/
    }

    &:hover {
      background-color: rgba($fill-color, 1);
    }
  }

  .top {
    border-top: none;
  }

  .bottom {
    border-bottom: none;
  }

  .left {
    border-left: none;
  }

  .right {
    border-right: none;
  }
}
