$settings-width: 42rem;
$settings-width-small: 36rem;
$settings-width-large: 48rem;

$panel_header_height: 7.6rem;
$panel_footer_height: 7.6rem;
$panel_top_padding: 1rem;
$panel_bottom_padding: 1rem;
$panel_top_padding: 1rem;
$panel_left_padding: 1rem;

$info_bar_position: bottom;

//$background_color_preivew: #4E4E4E;
$background_color_preivew: #353B44;
$background_color_grid: $base_flat;
$background_color_panel: $base_flat;

@import "../mixins";
@import "../colors";
@import "grid";
@import "preview";

figure {
  img {
    img {
      transition: opacity .4s cubic-bezier(0.5, .12, .36, .9);
    }
    &.loaded {
      opacity: 1;
    }
    &.loading {
      opacity: 0;
    }
  }
}

ul {
  &.info {
    @include clearfix;
    padding: 0;
    list-style: none;

    li {
      display: block;
      float: left;
    }
  }
}

.color-picker {
  @import "color-picker";
}

@import "slider";
@import "gravity-select";

.snackbar {
  z-index: 100000;
}


@import "icons";
@import "buttons";
@import "panel";
@import "tabs";
