@import "../mixins";
@import "../colors";
@import "grid";

$settings-width: 36rem;
$settings-width-small: 26rem;
$settings-width-large: 48rem;

$info_bar_position: bottom;

.select-group {
  padding: 2rem 0;

  label {
    @include label_small;
    display: inline-block;
    padding: 1rem 0;
  }
}

.slider-name, .slider-value, .channel-name, .channel-value {
  @include label_small;
}

.channel-name {
  &.r {
  }
}

.info-bar {
  width: 100%;
  position: absolute;
  left: 0;
  #{$info_bar_position}: 0;
  max-height: 6rem;
  @include clearfix;
  font-size: 1.2rem;
  line-height: .4rem;
  color: $color-primary;

  @include flex(space-between);

  .item {
    padding: 1rem;
    border-left: 1px solid darken($color-primary-dark, 5);
  }

  background-color: rgba(#000, 0.22);
}

.preview-container {
  @include inbox;
  padding-#{$info_bar_position}: 6rem;
  position: relative;
}

.playground {
  @include inbox;
  @include clearfix;
  position: relative;
}

.panel {
  @include clearfix;
  padding: 1rem;

  button {
    &.select-image {
      top: 1rem;
      position: absolute;
      right: -12px;
      transform: rotate(0deg);
      transition: all .4s cubic-bezier(0.5, .12, .36, .9);
    }
    &.selecting {
      transform: rotate(45deg);
      background: $gray_dark !important;
    }
  }
}

.settings {
  background-color: $base_flat;
  width: 100%;

  @include breakpoint((min-width: $q-small, orientation: landscape)) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: $settings-width-small;
    box-shadow: 1px 0px 6px 0 rgba(0, 0, 0, 0.5);
  }

  @include breakpoint((min-width: $q-medium, orientation: landscape)) {
    width: $settings-width;
  }
}


.grid-loading {

  @include breakpoint((min-width: $q-small, orientation: landscape)) {
    left: calc(50% + #{$settings-width-small / 2});
  }

  @include breakpoint((min-width: $q-medium, orientation: landscape)) {
    left: calc(50% + #{$settings-width / 2});
  }
}

.preview {
  transform: translate3d(0, 0, 0) scaleZ(1);
  //background-color: darken($gray_darker, 20);
  /*background-color: darken($gray_dark, 1);*/
  background-color: #3C4448;
  @include inbox;
  position: relative;
  overflow: hidden;
  width: 100%;

  &, .grid-wrap {
    @include breakpoint((min-width: $q-small, orientation: landscape)) {
      padding-left: $settings-width-small;
    }
  }

  &, .grid-wrap {
    @include breakpoint((min-width: $q-medium, orientation: landscape)) {
      padding-left: $settings-width;
    }
  }

  .preview-image {
    padding: 2rem;
    @include inbox();
    position: relative;

    @include flex(center, center);

    img {
      margin: auto;
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      //&.portrait {
      //  height: 100%;
      //  //width: auto;
      //}

      //&.landscape {
      //  width: 100%;
      //  height: auto;
      //}

    }
  }

  .grid-wrap {
    @include inbox;
    position: absolute;
    overflow: scroll;
    top: 0;
    left: 0;
    transform: translate3d(0, 100%, 0);
    transition: transform .4s cubic-bezier(0.6, .12, .26, .96);
    transition-delay: .1s;
    &.visible {
      transition-delay: 0s;
      transform: translate3d(0, 0, 0);
    }
  }

  //&.select {
  //  .grid-wrap {
  //    transition-delay: 0s;
  //    transform: translate3d(0, 0, 0);
  //  }
  //}
}

.mode-group-item {
  @include clearfix;
  .icon, .label {
    height: 100%;
    float: left;
  }

  .label {
    padding: 0.4rem 2rem;
  }

  .icon {
    svg {
      height: 100%;
      width: 24px;
      fill: $gray_darker;
    }
  }

  .label {
  }
}

ul {
  &.info {
    @include clearfix;
    padding: 0;
    list-style: none;

    li {
      display: block;
      float: left;
    }
  }
}

.color-picker {
  @import "color-picker";
}
@import "slider";
@import "gravity-select";

.snackbar {
  z-index: 100000;
}

.preview-image {
  img {
    transition: all .4s cubic-bezier(0.5, .12, .36, .9);
    transition-delay: .8s;
    opacity: 0;
    &.loaded {
      opacity: 1;
    }
  }
}

.modes-wrap {
  @include flex();
  .modes {
    padding: .5rem 2rem;
    width: 100%;
  }
}

.collapsed {
  .modes-wrap {
    .modes {
      justify-content: flex-start;
      .tab {
        width: #{(100 / 7)}%;
      }
    }
  }
}

@import "icons";
@import "buttons";
@import "panel";
@import "tabs";
