.settings {
  background-color: $base_flat;
  width: 100%;

  @include breakpoint((min-width: $q-small, orientation: landscape)) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: $settings-width-small;
    box-shadow: 1px 0px 6px 0 rgba(0, 0, 0, 0.5);
  }

  @include breakpoint((min-width: $q-medium, orientation: landscape)) {
    width: $settings-width;
  }
}
.setting {
  @include clearfix;
  margin: .5rem 0;
  padding: 1rem 0;
  border-bottom: 1px solid $gray_xlight;

  &:last-child {
    border-bottom: none;
  }

  & > label {
  }
}


.setting-content {
  padding: 0 1.2rem;
}

.modes-wrap {
  width: 100%;
}

.modes {
  width: calc(100% - #{$icon_width * 1.2})
}

.collapsable {
  header {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
  }
}

.panel {
  @include clearfix;
  padding: $panel_top_padding 0 $panel_bottom_padding 0;
  position: relative;
  height: auto;
  max-height: 100%;
  -webkit-touch-callout: default;

  @include breakpoint($q-medium) {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  button {
    &.select-image {
      top: $panel_top_padding;
      position: absolute;
      transform: rotate(0deg);
      transition: all .4s cubic-bezier(0.5, .12, .36, .9);
      right: 1rem;
      @include breakpoint($q-medium) {
        right: -12px;
      }
    }
    &.selecting {
      transform: rotate(45deg);
      background: $gray_dark !important;
    }
  }
}


.panel-content {
  position: relative;
  padding: ($panel_header_height - $panel_top_padding) 1rem ($panel_footer_height - $panel_bottom_padding) 1rem;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 100;

  //&::-webkit-scrollbar {
  //  width: 0;
  //  height: 0;
  //}
  //&::scrollbar {
  //  width: 0;
  //  height: 0;
  //}
}

.panel-header {
  position: absolute;
  top: 0;
  left: 0;
  height: $panel_header_height;
  z-index: 1010;
}

.panel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: $panel_footer_height;
  z-index: 1000;
}

.panel-header, .panel-footer {
  background-color: $color-primary;
  padding: 2rem $panel_left_padding;
  width: 100%;
}

button{
  &.add-setting {
    text-align: left;
    color: $base_flat !important;
    &[disabled] {
      opacity: 0.5;
    }
  }
}
