.settings {
  background-color: $base_flat;
  width: 100%;

  @include breakpoint((min-width: $q-small, orientation: landscape)) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: $settings-width-small;
    box-shadow: 1px 0px 6px 0 rgba(0, 0, 0, 0.5);
  }

  @include breakpoint((min-width: $q-medium, orientation: landscape)) {
    width: $settings-width;
  }
}
.setting {
  @include clearfix;
  margin: .5rem 0;
  padding: 1rem 0;
  border-bottom: 1px solid $gray_xlight;

  & > label {
  }
}


.setting-content {
  padding: 0 1.2rem;
}

.modes-wrap {
  width: 100%;
}

.modes {
  width: calc(100% - #{$icon_width * 1.2})
}

.collapsable {
  header {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
  }
}

.panel {
  @include clearfix;
  padding: 1rem 0;

  button {
    &.select-image {
      top: 1rem;
      position: absolute;
      right: -12px;
      transform: rotate(0deg);
      transition: all .4s cubic-bezier(0.5, .12, .36, .9);
    }
    &.selecting {
      transform: rotate(45deg);
      background: $gray_dark !important;
    }
  }
}


.panel-content {
  position: relative;
  padding: 8rem 1rem 4rem 1rem;
  max-height: 100%;
  overflow: scroll;
  z-index: 100;
}

.panel-header {
  position: absolute;
  top: 0;
  left: 0;
}

.panel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.panel-header, .panel-footer {
  background-color: $color-primary;
  padding: 2rem;
  width: 100%;
  z-index: 1000;
}

button{
  &.add-setting {
    color: $base_flat !important;
    &[disabled] {
      opacity: 0.5;
    }
  }
}
