.playground {
  @include inbox;
  @include clearfix;
  position: relative;
}

.grid-loading {

  @include breakpoint((min-width: $q-small)) {
  //@include breakpoint((min-width: $q-small, orientation: landscape)) {
    left: calc(50% + #{$settings-width-small / 2});
  }

  //@include breakpoint((min-width: $q-medium, orientation: landscape)) {
  @include breakpoint((min-width: $q-medium)) {
    left: calc(50% + #{$settings-width / 2});
  }
}

.info-bar {
  width: 100%;
  position: absolute;
  left: 0;
  #{$info_bar_position}: 0;
  height: $panel_footer_height;
  //max-height: 6rem;
  @include clearfix;
  font-size: 1.2rem;
  line-height: .4rem;
  color: color('white');

  @include flex(space-between);

  .item {
    padding: 1rem;
    //border-left: 1px solid darken($color-primary-dark, 5);
  }

  background-color: rgba(#fff, 0.08);
}

.preview-container {
  @include inbox;
  padding-#{$info_bar_position}: 6rem;
  position: relative;
  padding-bottom: $panel_footer_height;
}

.preview-image {
  img {
    opacity: 0;
    transition: all .4s cubic-bezier(0.5, .12, .36, .9);
    transition-delay: .2s;
  }
}

.preview {
  transform: translate3d(0, 0, 0) scaleZ(1);
  background-color: $background_color_preivew;
  @include inbox;
  position: relative;
  overflow: hidden;
  width: 100%;

  &, .grid-wrap {
    //@include breakpoint((min-width: $q-small, orientation: landscape)) {
    @include breakpoint((min-width: $q-small)) {
      //padding-left: $settings-width-small;
    }
  }

  &, .grid-wrap {
    //@include breakpoint((min-width: $q-medium, orientation: landscape)) {
    @include breakpoint((min-width: $q-medium)) {
      padding-left: $settings-width;
    }
  }

  .preview-image {
    padding: 2rem;
    @include inbox();
    position: relative;

    @include flex(center, center);

    img {
      margin: auto;
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      //&.portrait {
      //  height: 100%;
      //  //width: auto;
      //}

      //&.landscape {
      //  width: 100%;
      //  height: auto;
      //}

    }
  }

  .grid-wrap {
    @include inbox;
    position: absolute;
    overflow: scroll;
    top: 0;
    left: 0;
    transform: translate3d(0, 100%, 0);
    transition: transform .4s cubic-bezier(0.6, .12, .26, .96);
    transition-delay: .1s;
    &.visible {
      transition-delay: 0s;
      transform: translate3d(0, 0, 0);
    }
  }

  //&.select {
  //  .grid-wrap {
  //    transition-delay: 0s;
  //    transform: translate3d(0, 0, 0);
  //  }
  //}
  .spinner {
    @include abs_center($spinner_width, $spinner_height, 1000, 1);

    @include breakpoint($q-medium) {
      left: calc(50% + #{$settings-width / 2});
    }
  }
}
